
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Travel Time */
.homepageimage{
  background-image:url("indexpagebgimage.png") ; 
  background-size:cover;  
  background-position:center;
  width: 100%;
  height: 100vh;
}

nav {  
  padding: 20px 50px;
  font-family: poppins;
  align-items: center;
}

 nav ul{
  display: flex;
  justify-content:space-evenly;
 
 }


nav li {
  list-style: none;
  display: inline-block;
  padding: 0 30px;
}

nav a {
  text-decoration:solid;
  color: rgb(244, 231, 231);
  transition: all 0.3s ease 0s;
  
}

nav a:hover {
  color: #b2dfdb;
} 

.heading{
  color:#cccccc;
  font-size: 96px;
  font-family: poppins;
  top:40%;
  text-align: center;
  font-weight: 700; 
  
}


p{
  display:flex;
  color: #b2dfdb;
  top:60%;
  left: 50%;
  justify-content:space-evenly;
  word-wrap:break-word;
}

/* Join Button*/
.btn-div{
  display: flex; 
  justify-content: center;
  align-items: center; 

  
}

.btn {
   
  background-color: rgb(16, 199, 16);
  color: white;
  height: 30px;
  width: 175px;  
  border-radius: 8px;
  font-size:small;
  justify-content: center;

}

.btn:hover {
  background-color: rgb(198, 188, 188);
}

/*.artonimage{
    display: flex;
    background-size:cover;   
    background-repeat:no-repeat;
    background-position:center;
    width: 100%;
}*/

/* section where to go*/
.wheretogoimage{
    display: grid;
    background-image:url("wheretogobgimage.png") ;    
    background-size:cover;    
    background-position:center;
    width: 100%;
    height:100vh;
    
}

 .cards {
    display: flex; 
    justify-content:center ;        
  }
  .card {
    background-color:gray;
    width: 320px;    
    margin:10px;
    border-radius:15px;        
  }

  .card-image {
    height: 252px;
    width: 272px; 
    margin-top: 15px;
    background-size:cover ;
    border-radius:15px 15px 0 0;
  }

  .place-1{
    background-image: url('./assets/images/mountain1.jpg');
   
  }
  .place-2{
    background-image: url('./assets/images/mountain2.jpg');
   
  }
  .place-3{
    background-image: url('./assets/images/mountain3.jpg');
   
  }
  .place-4{
    background-image: url('./assets/images/mountain4.png');
   
  }


.card p {
  padding:10px;
  word-break: break-all;
  white-space: normal;
  
}

.card a{
  background-color:rgb(55, 53, 53) ;  
  padding:15px 20px;
  display:block;
  text-align:right;
}


/*about Us Page*/
.aboutusimage{
  background-image:url("aboutusbgimage.png") ;
  background-color:#cccccc;
  background-size:cover;
  position: relative;  
  background-position:center;
  width: 100%;
  height: 100vh;
}
.aboutustext{  
  text-align: left;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}



